{% extends "secondary-layout.njk" %}

{% block title %}CDEWorld - Website Redesign {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<div class="colored">
<section class="hero project bg-img" style="background-image: url('http://localhost:3000/images/gallery/cdew/Macbook-Article-1.png')">
	{# <div class="container">
		<h2 class="project--title">New and Modern Look for Dental Education Site</h2>
		<h3>Redesigning to Improve User-Experience and Interface Usage</h3>
	</div> #}
</section>
</div>
{% endblock %}

{% block content %}
<main>
	<section class="work-top">
		<div class="text container project--subheads">
			<div>
				<span>Role:</span> 
				Designer, Developer
			</div>
			<div>
				<span>Type of Work:</span>
				Web Design, Web Development 
			</div>
			<div>
				<span>Client:</span> 
				CDEWorld
			</div>
		</div>
	{# </section> #}
	<div class="text container">
		<p class="italic">
			CDEWorld is one of the fastest growing online continuing dental education sites and a global leader in dental e-knowledge transfer. Their mission: to be the site of choice for oral healthcare professionals worldwide to source and complete their continuing professional development needs.
		</p>
		<h3 class="subhead">A New and Modern Look for Dental Education Site</h3>
		<p>
			CDEWorld needed an improved digital foundation to facilitate the increase in mobile and tablet traffic. With this improvement they also wanted to identify user experience improvements, develop a site that better conveyed their company values, and have an audit of their development practices and assets.
		</p>
	</div>
	{# <div class="grid grey">
		<div class="full-image">
			<img src="../images/gallery/cdew/Macbook-Article-1.png" alt="">
		</div>
	</div> #}
	<div class="text container">
		<h3 class="subhead">The Approach</h3>
		<p>
			An audit and refractor of the website's code would help to improve the performance of the site and give a responsive design that the website is currently lacking consistently. A better integration of their values would be deeply entwined with solutions to make a cleaner and more user-friendly design.
		</p>
	</div>
	<div class="half-image grid-item">
		<img src="../images/gallery/cdew/sitemap-2.jpg" alt="">
		<img src="../images/gallery/cdew/sitemap-3.jpg" alt="">
	</div>
	<div class="quote">
		Sketches identifying general site structure, the type of pages that would be needed, and their connection to other pages. Also some rough sketches of the site pages.
	</div>
	<div class="text container">
		<h3 class="subhead">Research</h3>
		<p>
			I needed to find out where the problems in the site were and what pages were performing well or poorly, to find out what changes needed to be made &mdash; did the layout of the site need an overall, did any sections need to be added or removed, we users getting stuck on certain area, etc. I decided to use heat maps to track customer movement on the website; their engagement with the pages and interface interactions; and their movement down the page. I used <a href="https://www.ptengine.com/">Ptengine</a> and utilized their heat maps for 4 months to get a good median of data.
		</p>
		<p>
			<strong>Biggest takeaways/fixes:</strong> The site was getting more mobile traffic than expected. There were aspects of the site that were confusing to people, people were clicking on unclickable objects. Any page with a list was using an infinite scroll and having a sharp drop in people scrolling. The screen resolutions that were recorded on the site were larger than the design was originally created.
		</p>
	</div>
	<div class="full-image grid-item">
		<img src="../images/gallery/cdew/Homepage-v1.jpg" alt="">
		<img src="../images/gallery/cdew/Homepage-v2.jpg" alt="">
	</div>
	<div class="quote">
		Examples of constant iteration &mdash; Various wireframes for the homepage trying to figure out what content works best were. 
	</div>
	<div class="text container">
		<h3 class="subhead">Wireframes</h3>
		<p>
			Utilizing the takeaways from heat maps and conversations with decision makers I started making numerous wireframes for the homepage. I took inspiration and ideas from content heavy websites similar in content to CDEWorld, much like a newspaper or news site. I needed a look capable of holding a lot of text similar to the sites of <em><a href="http://www.nytimes.com/" target="_blank">New York Times</a></em>, <em><a href="http://www.reuters.com/">Reuters</a></em>, or <em><a href="https://www.washingtonpost.com/" target="_blank">Washington Post</a></em>.
		</p>
		<h3 class="subhead">Prototypes</h3>
		<p>
			The various pages would have different layouts, depending on their content and one of the toughest was the homepage. After creating many different designs, I quickly went to prototyping the layouts to get a feel for how they would function. It helped to quickly work through many ideas, different points of emphasis, and generally working through the problem.
		</p>
		<p>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/Grid-%20Redesign-3/Grid%20-%20Test3.html" target="_blank">Homepage - Ver1</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/Grid-%20Redesign/Grid%20-%20Test.html" target="_blank">Homepage - Ver2</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/Homepage.html" target="_blank">Homepage - Ver3</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/hp2/" target="_blank">Homepage - Ver4</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/hp3/" target="_blank">Homepage - Ver5</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/hp4/" target="_blank">Homepage - Ver6</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version3.html" target="_blank">Homepage - Ver7</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version1.html" target="_blank">Article Page - Ver1</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v1/Grid-%20Redesign-2/Grid%20-%20Test2.html" target="_blank">Ebook Library - Ver1</a>
			<a class="prototype--link" href="http://toripugh.com/prototype/cdew-test-v2/Prototype-Version5-B.html" target="_blank">Checkout - Ver2</a>
		</p>
	</div>
		<div class="half-image grid-item">
			<img src="../images/gallery/cdew/article-org.jpg" alt="">
			<img src="../images/gallery/cdew/article-new.jpg" alt="">
		</div>
		<div class="quote">
			Creating a cleaner and easier reading experience on the articles. 
		</div>
	<div class="text container">
		<h3 class="subhead">The Important Pages?</h3>
		<p>
			I started this project on what I thought was the most important page, the homepage. Looking back at the heat maps I realized that people weren't really spending as much time there and the real experience was on "secondary pages" such as the articles, webinars and events. These pages are the main objective of visitors to the site, I wanted to make sure the experience was helpful and not a hindrance. The main points were making the text more legible, simplifying the experience, build with responsive in mind and speed up page load.
		</p>
	{# <img class="project--image shadow--2" src="../images/gallery/cdew/article-org.jpg" alt="">
	<img class="project--image shadow--2" src="../images/gallery/cdew/article-new.jpg" alt=""> #}
		<p>
			The purpose of these pages is to consume the content in such a fashion as being able to remember it and pass a test for certification. With this in mind I made a prototype that emphasized the main content, whether that is an article; ebook; event; or webinar, and includes a sidebar with the educational material or a sidebar like text area with the important information.
		</p>
		<h3 class="subhead">On Going Project</h3>
		<p class="disclaimer">
			This project is still in the prototype stage. I've made 14 different pages that correspond to areas on the site map. These go through the drip down process of the visitor flow in the content funnel. I chose to concentrate on the main parts of the page and left the footer and header out for the moment. They are two hardest parts of this endeavor, there is so much information that was required and I'm still trying to find a solution that gets approval.
		</p>
	</div>
</main>
{% endblock %}