{% extends "secondary-layout.njk" %}

{% block title %}Dream Day Visionaries - Branding {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<div class="colored">
<section class="hero project">
	<div class="container">
		<h2 class="project--title">Updated Look for a Special Event Company</h2>
		<h3>Giving a Company a Brand Refresh</h3>
	</div>
</section>
</div>
{% endblock %}

{% block content %}
<main>
	<section class="work-top">
		<div class="text container project--subheads">
			<div>
				<span>Role:</span> 
				Designer
			</div>
			<div>
				<span>Type of Work:</span>
				Branding 
			</div>
			<div>
				<span>Client:</span> 
				Dream Day Visionaries
			</div>
		</div>
	</section>
	<div class="text container">
		<p class="italic">
			Dream Day Visionaries a special event company who excel in combining originality and class to provide a premium experience for their customers.
		</p>
		<h3 class="subhead">Approach and Execution</h3>
		<p>
			They were looking to refesh their branding, encompassing their branding and branching out to other aspect at a later point. They wanted Tiger lilies to be the inspiration behind their identity, so I took the color and logo from them. The direction I was give was that they wanted Tiger Lilies to play a role in the brand of their company.
		</p>
		</div>
	<div class="half-image grid-item image-padding">
		<img src="http://www.victoriapugh.net/images/gallery/dreamday/DDV-Logo-1.jpg" alt="">
		<img src="http://www.victoriapugh.net/images/gallery/dreamday/DDV-Logo-2.jpg" alt="">
	</div>
	<div class="full-image image-padding">
		<img src="http://www.victoriapugh.net/images/gallery/dreamday/DDV-Letterhead.jpg" alt="">
		<img src="http://www.victoriapugh.net/images/gallery/dreamday/DDV-Businesscard.jpg" alt="">
		<img src="http://www.victoriapugh.net/images/gallery/dreamday/DDV-flower-pattern.jpg" alt="">
	</div>
</main>
{% endblock %}