{% extends "secondary-layout.njk" %}
{# {% extends "secondary-layout.njk" %} #}

{% block title %}TUSDM | Email Design &mp; Development — {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		{# <h2 class="hero--title">CDEWorld Redesign</h2> #}
		<h2 class="hero--title">TUSDM Email Template</h2>
		<h3 class="hero--subtitle">Creating a unified email system for deeper student communication and all encompassing branding</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong><br>
					CDEWorld
				</p>

				<p>
					<strong>Role:</strong><br>
					Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong><br>
					Email Template
				</p>
			</div>
			<div class="left-main">
				<p>
					 CDEWorld had a new partnership come onboard for their partner portals. I was tasked with creating emails that would advertise Tufts University School of Dental Medicine upcoming events. The main task would be to replicate the design and feel of Tufts while making it an easy email to develop in a short time.
				</p>
			</div>
			
		</div>
	</section>
	<div class="body">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/tufts/tufts-announcement@2x.jpg" 
		data-srcset="../images/gallery/tufts/tufts-announcement@0.5x.jpg 300w,
		../images/gallery/tufts/tufts-announcement@1x.jpg 600w,
		../images/Thumbnails/tufts-announcement@2x.jpg 900w"
		srcset="../images/gallery/tufts/tufts-announcement@0.5x.jpg 300w,
		../images/gallery/tufts/tufts-announcement@1x.jpg 600w, 
		../images/gallery/tufts/tufts-announcement@2x.jpg 900w" src="../images/gallery/tufts/tufts-announcement@1x.jpg">
		<img alt="" data-sizes="auto" class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/tufts/tufts-time-is-running-out@2x.jpg" 
		data-srcset="../images/gallery/tufts/tufts-time-is-running-out@0.5x.jpg 300w,
		../images/gallery/tufts/tufts-time-is-running-out@1x.jpg 600w,
		../images/Thumbnails/tufts-time-is-running-out@2x.jpg 900w"
		srcset="../images/gallery/tufts/tufts-time-is-running-out@0.5x.jpg 300w,
		../images/gallery/tufts/tufts-time-is-running-out@1x.jpg 600w, 
		../images/gallery/tufts/tufts-time-is-running-out@2x.jpg 900w" src="../images/gallery/tufts/tufts-time-is-running-out@1x.jpg">
		<img alt="" data-sizes="auto" class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/tufts/tufts-last-chance@2x.jpg" 
		data-srcset="../images/gallery/tufts/tufts-last-chance@0.5x.jpg 300w,
		../images/gallery/tufts/tufts-last-chance@1x.jpg 600w,
		../images/Thumbnails/tufts-last-chance@2x.jpg 900w"
		srcset="../images/gallery/tufts/tufts-last-chance@0.5x.jpg 300w,
		../images/gallery/tufts/tufts-last-chance@1x.jpg 600w, 
		../images/gallery/tufts/tufts-last-chance@2x.jpg 900w" src="../images/gallery/tufts/tufts-last-chance@1x.jpg">
		
	</div>
</main>
{% endblock %}