{% extends "secondary-layout.njk" %}

{% block title %}TUDSM - Email Series {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<div class="colored">
<section class="hero project bg-img" style="background-image: url('http://www.victoriapugh.net/images/gallery/newsletters/Tufts-Announcement-iMac.png')">
	{# <div class="container">
		<h2 class="project--title">New and Modern Look for Dental Education Site</h2>
		<h3>Redesigning to Improve User-Experience and Interface Usage</h3>
	</div> #}
</section>
</div>
{% endblock %}

{% block content %}
<main>
	<section class="work-top">
		<div class="text container project--subheads">
			<div>
				<span>Role:</span> 
				Designer, Developer
			</div>
			<div>
				<span>Type of Work:</span>
				Email Design, Email Development 
			</div>
			<div>
				<span>Client:</span> 
				CDEWorld
			</div>
		</div>
	</section>
	<div class="text container">
		<p class="italic">
			CDEWorld is one of the fastest growing online continuing dental education sites and a global leader in dental e-knowledge transfer. Their mission: to be the site of choice for oral healthcare professionals worldwide to source and complete their continuing professional development needs.
		</p>
		<h3 class="subhead">Unified Emails For Deeper Student Communication</h3>
		<p>
			CDEWorld had new partner come on board for their partner portals. I was tasked with creating emails that would advertise Tufts University School of Dental Medicine upcoming events. The main task would be to replicate the design and feel of Tufts while making it an easy email to develop in a short time.
		</p>
		<h3 class="subhead">Approach and Execution</h3>
		<p>
			The main objective was keeping the branding unified. I incorporated the already strong branding from the <a href="http://dental.tufts.edu/" target="_blank">Tufts University School of Dental Medicine</a> website into the emails. I utilized an existing modular email system and extended the Tufts branding but maintained a core email structure. It made replication faster and easier to do on short notice.
		</p>
		</div>
	<div class="full-image grid-item">
		<img src="../images/gallery/tufts/tufts-site.png" alt="">
	</div>
	<div class="quote">
		The Tufts website used for the email inspiration.
	</div>
	<div class="full-image grid-item">
		<img src="../images/gallery/tufts/tufts-announcement.jpg" alt="">
		<img src="../images/gallery/tufts/tufts-time-is-running-out.jpg" alt="">
		<img src="../images/gallery/tufts/tufts-last-chance.jpg" alt="">
	</div>
</main>
{% endblock %}