{% extends "secondary-layout.njk" %}

{% block title %}Updates in Clinical Dentistry - Email Development {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<div class="colored">
<section class="hero project bg-img" style="background-image: url('http://localhost:3000/images/gallery/ucd/email-example-1.png')">
	{# <div class="container">
		<h2 class="project--title">New and Modern Look for Dental Education Site</h2>
		<h3>Redesigning to Improve User-Experience and Interface Usage</h3>
	</div> #}
</section>
</div>
{% endblock %}

{% block content %}
<main>
	<section class="work-top">
		<div class="text container project--subheads">
			<div>
				<span>Role:</span> 
				Designer, Developer
			</div>
			<div>
				<span>Type of Work:</span>
				Email Design, Email Development 
			</div>
			<div>
				<span>Client:</span> 
				Updates in Clinical Dentistry
			</div>
		</div>
	{# </section> #}
	<div class="text container">
		<p class="italic">
			Updates in Clinical Dentistry – the premier traveling dental CE event. A comprehensive program in contemporary oral healthcare, this one-day event will feature the foremost educators in dentistry discussing critical and timely content, as well as networking and career development opportunities.
		</p>
		<h3 class="subhead">Creating a Modern Email System for a Traveling Conference</h3>
		<p>
			Updates in Clinical Dentistry needed an email systems that can maintain emails targeting multiple city locations, make universal changes to all the emails, keep consistent branding, is easily reproducible for all locations, and will be quick to create and deploy.
		</p>
		<h3 class="subhead">The Approach</h3>
		<p>
			I needed to develop/utilize an automated system to insert the relevant information in every email, making it easy to use for different events. From there creating a email system with a lot of text copy to be dynamically put it. Finally, creating a finished email that keeps the design on brand while maintaining the modular nature of the templates and customizable pieces.
		</p>
		<h3 class="subhead">Research</h3>
		<p>
			I subscribed to as many conference email lists as I could to see what other people were doing. I also found a great resource in <a href="http://reallygoodemails.com" target="_blank">reallygoodemails.com</a> and took note of some of the features of the emails such as subheaders, titles, buttons, and images. I started piecing together ideas on the general layouts, though keeping in mind I still needed to please my superiors.

		</p>
		</div>
	<div class="full-image grid-item">
		<img src="../images/gallery/ucd/email-group-1.jpg" alt="">
	</div>
	<div class="quote">
		The idea was to keep a consistent look and feel across all emails. This was tough on some of the more targeted emails. 
	</div>
	<div class="text container">
		<h3 class="subhead">Types of Emails</h3>
		<p>
			Breaking down the emails into three varieties &mdash; Marketing, Registrants, and Follow-up.
		</p>
		<h2 class="subhead--sub">Marketing</h2>
		<p>
			The marketing group of emails are meant to entice and be informative, they have information on the emphasizing the location, talks and speakers. These emails though having similarities tend to look fairly different from each other, each one shares a basic layout of a large image and content below it. Some of them can contain a full agenda and speaker biographies or just topics and names.
		</p>
		<h2 class="subhead--sub">Registrants</h2>
		<p>
			The registrants are general emails sent to people who are already registered. These emails can be reminders of the upcoming event or alerts on a change of venue. These email are much simpler, usually pure text, in format from the need to pass crucial information.
		</p>
		<h2 class="subhead--sub">Follow-Up</h2>
		<p>
			Starting a few days after the event the attendees will get these emails, reminding them about the courses they can take online and directing them to a page to find out how to redeem them. They will keep getting these emails until they have redeemed a course. These emails are very important and as such are more text heavy.
		</p>
	</div>
	<div class="half-image grid-item image-padding">
		<img src="../images/gallery/ucd/nunjucks-example-1.jpg" alt="">
		<img src="../images/gallery/ucd/nunjucks-example-3.jpg" alt="">
		<img src="../images/gallery/ucd/nunjucks-example-2.jpg" alt="">
		<img src="../images/gallery/ucd/nunjucks-example-4.jpg" alt="">
	</div>
	<div class="quote">
		JSON files and Nunjucks templates do all the heavy-lifting for the email system. The files can be very long and complex but they have made everything a million times easier.
	</div>
	<div class="text container">
		<h3 class="subhead">Development Setup</h3>
		<p>
			For this project I needed a high-level of automation to maintain at most 10 cities with a minimum of 11 emails for each location. I turned to Gulp to help me create a system that could call the information for each location into my templates. Doing this would help in cutting down on human error, of changing each template by hand, and make any changes down the line to the design easier to maintain in older versus newer versions.
		</p>
		<p>
			To create this system, I looked on Github for any repo's that had a Gulp email workflow, to get an idea or a good jump off point. I stumbled across <a href="https://github.com/ireade/gulp-email-workflow">A Gulp Workflow for Building HTML Emails</a> by <a href="https://github.com/ireade">ireade</a> and saw that it was a perfect starting point. After making some changes, removing the PostCSS options because I didn't have the time to integrate the inlined css so everything was hardwired from the get go. Now I just needed two things, json files for each event with all of the information I'd need on each email and the templates for each email.
		</p>
		<p>
			<strong>Next idea &ndash; </strong> Creating an interface connected to a server to manage the json files and changes the information, so I wouldn't even have to worry about data manipulation. Something to implement next year.
		</p>
		<h3 class="subhead">Produced Emails</h3>
		<p>
			After setting this system up, there was a drastic style change and the development setup made making the universal changes to all emails incredibly easy. One change for the footer and the header and I didn't have to worry about making the change to every iteration of the new emails.
		</p>
		<p>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/01/MI-E1.html" target="_blank">MI - Email 1 (Old Style)</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/02/MI-E2.html" target="_blank">MI - Email 2 (New Style)</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/02/MI-E3.html" target="_blank">MI - Email 3</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MI-E4.html" target="_blank">MI - Email 4</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MI-E5.html" target="_blank">MI - Email 5</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/03/MI-E6.html" target="_blank">MI - Email 6</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2017/events/updates/04/PA-E7.html" target="_blank">PA - Email 7</a>
		</p>
	</div>
</main>
{% endblock %}