{% extends "secondary-layout.njk" %}

{% block title %}United Nations - Inter-Agency Games - Website Re-design {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<div class="colored">
<section class="hero project bg-img" style="background-image: url('http://toripugh.com/images/gallery/uniag/window-1.jpg')">
	{# <div class="container">
		<h2 class="project--title">New and Modern Look for Dental Education Site</h2>
		<h3>Redesigning to Improve User-Experience and Interface Usage</h3>
	</div> #}
</section>
</div>
{% endblock %}

{% block content %}
<main>
	<section class="work-top">
		<div class="text container project--subheads">
			<div>
				<span>Role:</span> 
				Designer, Developer
			</div>
			<div>
				<span>Type of Work:</span>
				Web Design, Web Development 
			</div>
			<div>
				<span>Client:</span> 
				United Nations
			</div>
		</div>
	</section>
	<div class="text container">
		<p class="italic">
			The United Nations (UN) is an intergovernmental organization to promote international co-operation, the organization was established on 24 October 1945 after World War II in order to prevent another such conflict. Its objectives include maintaining international peace and security, promoting human rights, fostering social and economic development, protecting the environment, and providing humanitarian aid in cases of famine, natural disaster, and armed conflict.
		</p>
		<h3 class="subhead">Re-imagined website for a user-friendly and functional experience</h3>
		<p>
			United Nations HQ were hosting the 41st Inter-Agency Games, the first time the games were being held in New York City. They wanted to go above and beyond for these games by creating a new look website and matching promotional pieces and signage. The timeline was very short for this project, 2 months to go from research and conception to website launch.
		</p>
		<h3 class="subhead">The Approach</h3>
		<p>
			I needed to develop/utilize an automated system to insert the relevant information in every email, making it easy to use for different events. From there creating a email system with a lot of text copy to be dynamically put it. Finally, creating a finished email that keeps the design on brand while maintaining the modular nature of the templates and customizable pieces.
		</p>
		<h3 class="subhead">Research</h3>
		<p>
			I was shown what they didn’t want in a site, all the past UN-IAG sites. Research was based on similar setups, an international event with teams coming from different parts of the world. This lead me to investigate the Olympics and World Cup, two of the largest events that fit the criteria and would be the best at showcasing the different aspects of the games to keep in mind.
		</p>
		</div>
	<div class="full-image grid-item">
		<img src="http://toripugh.com/images/gallery/uniag/IAG-Prototypes.jpg" alt="">
	</div>
	<div class="quote">
		A Hi-Fi wireframe (more towards a version one design) and the prototype created from it.
	</div>
	<div class="text container">
		<h3 class="subhead">Wireframes</h3>
		<p>
			My role was designing the layout of the site, not designing the assets. I created a layout that would accommodate the colors, logo and any other assets the United Nations designers chose. After an initial review process with the Coordination Committee and the UN Print Department, I created a live prototype so I could easily update everyone on the process of the site and turn it into the final product.
		</p>
	</div>
	<div class="full-image grid-item">
		<img src="http://toripugh.com/images/gallery/uniag/IAG-Results.jpg" alt="">
	</div>
	<div class="quote">
		There was a good spike of traffic before and during the event.
	</div>
	<div class="text container">
		<h3 class="subhead">Launch and Results</h3>
		<p>
			The new site was successful in bringing more visual elements to the new design while still being full of necessary information. Due to time constraints with the Coordination Committee, they were not able to create content for all pages of the site and some pages have been left blank. The launch of the site was 4 months before the event, to get everyone on the same page for registration and coordination for the event. After the site launch there were over 44,000 pageviews with a bounce rate of 34%, an average of 4 pages per session and an average duration of about 4 minutes.
		</p>
	</div>
	</section>
</main>
{% endblock %}