{% extends "secondary-layout.njk" %}
{# {% extends "secondary-layout.njk" %} #}

{% block title %}United Nations - Inter-Agency Games - Website Re-design {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		{# <h2 class="hero--title">CDEWorld Redesign</h2> #}
		<h2 class="hero--title">United Nations Inter-Agency Games</h2>
		<h3 class="hero--subtitle">Redesigned website for a user-friendly and functional experience</h3>
		<h3 class="hero--subtitle">&mdash; Completed Project &mdash;</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong><br>
					United Nations
				</p>

				<p>
					<strong>Role:</strong><br>
					Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong><br>
					Website
				</p>
			</div>
			<div class="left-main">
				<p>
					 United Nations HQ were hosting the 41st Inter-Agency Games, the first time the games were being held in New York City. They wanted to go above and beyond for these games by creating a new look website and matching promotional pieces and signage. The timeline was very short for this project, 2 months to go from research and conception to website launch.
				</p>
			</div>
		</div>
	</section>
	<div class="full-image">
		<img src="http://toripugh.com/images/gallery/uniag/window-1.jpg" alt="">
		{# <img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/ucd/UCD-emails-1@1x.jpg" 
		data-srcset="../images/gallery/ucd/UCD-emails-1@0.5x.jpg 480w,
		../images/gallery/ucd/UCD-emails-1@1x.jpg 640w,
		../images/gallery/ucd/UCD-emails-1@2x.jpg 1200w"
		srcset="../images/gallery/ucd/UCD-emails-1@0.5x.jpg 480w,
		../images/gallery/ucd/UCD-emails-1@1x.jpg 640w, 
		../images/gallery/ucd/UCD-emails-1@2x.jpg 1200w" src="../images/gallery/ucd/UCD-emails-1@1x.jpg"
		> #}
	</div>
	<div class="body">
		<p>
			<em>The United Nations (UN) is an intergovernmental organization to promote international co-operation, the organization was established on 24 October 1945 after World War II in order to prevent another such conflict. Its objectives include maintaining international peace and security, promoting human rights, fostering social and economic development, protecting the environment, and providing humanitarian aid in cases of famine, natural disaster, and armed conflict.</em>
		</p>
		<h3 class="subhead">Research</h3>
		<p>
			Research for this project was based on similar setups, an international event with teams coming from different parts of the world. So my instinct was to investigate Olympics and World Cups, two of the largest events that fit the criteria and would be the best at showcasing the different aspects of the games to keep in mind.
		</p>
	</div>
	<div class="full-image">
		<img src="http://toripugh.com/images/gallery/uniag/IAG-Prototypes.jpg" alt="">
		<h2 class="quote">An early version hifi wireframe and the prototype created from it.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Wireframes &amp; Prototypes</h3>
		<p>
			Since my role was in designing of the site, not designing the assets I had to create a layout that would accomadate the colors, logo and any other assets the UN designers chose. There was a quick review process with the Coordination Committee and the UN Print Department. After that I created a live prototype so I could easily update everyone on the process of the site and turn it into the final product.
		</p>
	</div>
	<div class="full-image">
		<img src="http://toripugh.com/images/gallery/uniag/IAG-Results.jpg" alt="">
		{# <img alt="" data-sizes="auto" class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/ucd/UCD-emails-2@1x.jpg" 
		data-srcset="../images/gallery/ucd/UCD-emails-2@0.5x.jpg 300w,
		../images/gallery/ucd/UCD-emails-2@1x.jpg 900w,
		../images/Thumbnails/tufts-time-is-running-out@2x.jpg 1200w"
		srcset="../images/gallery/ucd/UCD-emails-2@0.5x.jpg 300w,
		../images/gallery/ucd/UCD-emails-2@1x.jpg 900w, 
		../images/gallery/ucd/UCD-emails-2@2x.jpg 1200w" src="../images/gallery/ucd/UCD-emails-2@1x.jpg"> #}
		<h2 class="quote">There was a good spike of traffic before and during the event.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Launch and Results</h3>
		<p>
			The new site was successful in bringing more visual elements to the new design while still being full of necessary information. Due to time constraints with the Coordination Committee, they were not able to create content for all pages of the site and some pages have been left blank. The launch of the site was 4 months before the event, to get everyone on the same page for registration and coordination for the event. After the site launch there were over 44,000 pageviews with a bounce rate of 34%, an average of 4 pages per session and an average duration of about 4 minutes.
		</p>
	</div>
</main>
{% endblock %}