.container {
	width: 80%;
	margin: 0 auto;
	@include breakpoint(tablet, min-width) {
		width: map-get($breakpoints, tablet);
	}
	@include breakpoint(desktop, min-width) {
		width: map-get($breakpoints, desktop);
	}
	@include breakpoint(xldesktop, min-width) {
		width: map-get($breakpoints, xldesktop);
	}
	&:after {
	    display: table;
	    clear: both;
	    content: '';
	  }
}