.hero {
	padding: 30px 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include tablet {
		padding: 50px 0;
	}
	@include desktop {
		padding:70px 0;
	}
	text-align: center;
	.colored & {
		padding: 9% 0;
	}
	&--title {
		@media (max-width: 320px) {
			font-size: 30px;
			font-weight: 700;
			line-height: 1.12em;
		}
		font-size: 28px;
		padding: 0 10px;
		margin-bottom: .5em;
	    line-height: 1.3em;
	    font-weight: 700;
		@include tablet {
			font-size: 3rem;
			line-height: 1.05em;
			padding: 0 30px;
		}
		@include desktop {
			font-size: 4rem;
			padding: 0 60px;
			line-height: 1.2em
		}
		@include large-desktop {
		}
		#about & {
			margin: 0;
			@include large-desktop {
				font-size: 3.6rem;
				padding: 10px 60px;
				margin-bottom: 0;
			}
		}
	}	
	&--subtitle {
		font-weight: 400;
	    padding: 0;
	    line-height: 1.3em;
	    font-size: 20px;
	    @include tablet {
		   line-height: 1.3em;
		   font-size: 30px;
		   padding: 0 60px;
	    }
	    @include desktop {
		   font-size: 1.8rem;
		   padding: 0 110px;
	    }
	    span {
			font-weight: bold;
	    }
	}
	h5 {
		@include desktop {
			font-size: 1.2rem;
			font-weight: 400;
			margin-top: 0;
			a {
				font-weight: bold;
				color: inherit;
				border-bottom: 1px solid;
			}
		}
	}
}

// Freight Setting

.freightdisplaysemibold {
	font-family: "Freight Display Semibold", 'Times New Roman', Times New Roman, serif;
	font-style: normal;
	letter-spacing: .5px;
}
.wf-freightdisplaysemibold-n4-active .hero .freightdisplaysemibold {
	letter-spacing: 3px;
}